Repository thm-mni-ii/SWT-P_SS20_Overcooked, pull requests merged in 2020-06, with the labels that each got.

#17 imported level1 scene
  Assets/ExternalDependencyManager.meta
  Assets/ExternalDependencyManager/Editor.meta
  Assets/Firebase/Editor/Firebase.Editor.dll.mdb_DISABLED
  Assets/Firebase/Editor/Firebase.Editor.dll.mdb_DISABLED.meta
  Assets/Material.meta
  Assets/Material/FloorMaterial.mat
  Assets/Material/FloorMaterial.mat.meta
  Assets/Material/ItemInput.mat
  Assets/Material/ItemInput.mat.meta
  Assets/Material/Output.mat
  Assets/Material/Output.mat.meta
  Assets/Material/PlayerMaterial.mat
  Assets/Material/PlayerMaterial.mat.meta
  Assets/Material/Wall.mat
  Assets/Material/Wall.mat.meta
  Assets/Material/WoodenTable.mat
  Assets/Material/WoodenTable.mat.meta
  Assets/Prefab.meta
  Assets/Prefab/Player.prefab
  Assets/Prefab/Player.prefab.meta
  Assets/Scenes/Level1.unity
  Assets/Scenes/Level1.unity.meta
  Assets/Scripts.meta
  Assets/Scripts/PickupItem.cs
  Assets/Scripts/PickupItem.cs.meta
  Assets/Scripts/PlayerControls.cs
  Assets/Scripts/PlayerControls.cs.meta
  Assets/Scripts/ResetZone.cs
  Assets/Scripts/ResetZone.cs.meta
  Assets/Scripts/TestNetworkManager.cs
  Assets/Scripts/TestNetworkManager.cs.meta
  Assets/Scripts/Timer.cs
  Assets/Scripts/Timer.cs.meta
  Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Labels: import existing, level

#19 Implement dropping objects once picked up + use raycasting
  Assets/Prefab/Player.prefab
  Assets/Scenes/Level1.unity
  Assets/Scripts/PickupItem.cs
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/TagManager.asset
Labels: bug, feature, gameplay, sprint

#21 Merge 'Material' and 'Materials' folder
  Assets/Material.meta
  Assets/Materials/FloorMaterial.mat
  Assets/Materials/FloorMaterial.mat.meta
  Assets/Materials/ItemInput.mat
  Assets/Materials/ItemInput.mat.meta
  Assets/Materials/Output.mat
  Assets/Materials/Output.mat.meta
  Assets/Materials/PlayerMaterial.mat
  Assets/Materials/PlayerMaterial.mat.meta
  Assets/Materials/Wall.mat
  Assets/Materials/Wall.mat.meta
  Assets/Materials/WoodenTable.mat
  Assets/Materials/WoodenTable.mat.meta
Labels: assets, bug, visuals

#22 Synchronize player interactions with the server and other clients
  Assets/Prefab/Player.prefab
  Assets/Scenes/Level1.unity
  Assets/Scripts/Interactables.meta
  Assets/Scripts/Interactables/IInteractable.cs
  Assets/Scripts/Interactables/IInteractable.cs.meta
  Assets/Scripts/Interactables/Pickable.cs
  Assets/Scripts/Interactables/Pickable.cs.meta
  Assets/Scripts/Interactor.cs
  Assets/Scripts/Interactor.cs.meta
  Assets/Scripts/PickupItem.cs
  ProjectSettings/GraphicsSettings.asset
  ProjectSettings/ProjectSettings.asset
Labels: bug, networking, sprint

#24 Implement timed interactions, progress bars and modifying objects
  Assets/Materials/ObjModifiable.mat
  Assets/Materials/ObjModifiable.mat.meta
  Assets/Materials/ObjPickable.mat
  Assets/Materials/ObjPickable.mat.meta
  Assets/Materials/UI.meta
  Assets/Materials/UI/UIBillboard.mat
  Assets/Materials/UI/UIBillboard.mat.meta
  Assets/Prefab/ObjectModifiable.prefab
  Assets/Prefab/ObjectModifiable.prefab.meta
  Assets/Prefab/ObjectPickable.prefab
  Assets/Prefab/ObjectPickable.prefab.meta
  Assets/Prefab/UI.meta
  Assets/Prefab/UI/ObjectInfoCanvas.prefab
  Assets/Prefab/UI/ObjectInfoCanvas.prefab.meta
  Assets/Scenes/Level1.unity
  Assets/Scripts/Interactables/ModifiableObject.cs
  Assets/Scripts/Interactables/ModifiableObject.cs.meta
  Assets/Scripts/Interactables/PickableObject.cs
  Assets/Scripts/Interactables/PickableObject.cs.meta
  Assets/Scripts/Interactor.cs
  Assets/Shaders/UI.meta
  Assets/Shaders/UI/UIBillboard.shader
  Assets/Shaders/UI/UIBillboard.shader.meta
Labels: UI, feature, gameplay, sprint

#25 fixed spawn points, added additional spawns for up to 4 players
  Assets/Scenes/Level1.unity
  Assets/Scripts/TestNetworkManager.cs
Labels: level

#32 changed camera from orthographic to perspective
  Assets/Scenes/Level1.unity
Labels: level

#33 Add player class + Fix player picking up multiple objects
  Assets/Prefab/Player.prefab
  Assets/Scripts/Interactables/PickableObject.cs
  Assets/Scripts/Interactor.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/Player.cs.meta
Labels: bug, gameplay
